html {
  height: 100%
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: brown;
  text-decoration: dotted;
  font-style: oblique;
  color:gold;
  width:20%;
  position: absolute;
  cursor: pointer;
}

button:hover {
  background-color: red;
}

#mainMenuButton {
  background-color: rgba(255, 255, 255, 0);
  padding: 12px 0px;
  text-decoration: dotted;
  font-style: oblique;
  color:rgba(255, 217, 0, 0);
  width:130px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  border: 0; /*change to 2 to see where the actual buttons are*/
}